@import './variables.scss';

@mixin button($color-fg, $color-bg, $bg: $color-bg) {
    font-size: $font-size - 1pt;
    text-transform: uppercase;
    letter-spacing: 0.04em;

    font-weight: 600;

    display: block;
    padding: 0.4em 1em;
    border-radius: $corner-radius;
    cursor: pointer;

    background: $bg;
    color: $color-fg;

    border: none;
    box-shadow: $drop-shadow-1;

    transition: 
        box-shadow $transition-time,
        transform $transition-time,
        background-color $transition-time,
        color $transition-time;

    &:hover {
        box-shadow: $drop-shadow-2;
    }

    &:active {
        box-shadow: none;
        color: mix($color-fg, $color-bg, 80);
        background-color: mix($color-bg, $color-fg, 80);
    }

    &[disabled] {
        box-shadow: none;
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
    }
}

.button {
    @include button($color-accent, $color-surface);
}

.button-primary {
    @include button($color-on-accent, $color-accent, $color-accent-gradient);

    &:active {
        background: $color-accent-gradient-active;
    }
}

.button-danger {
    @include button($color-danger, $color-surface);

    &:focus {
        outline: solid 3px transparentize($color: $color-danger, $amount: 0.5);
    }
}