@import './variables.scss';

.card {
    box-shadow: $drop-shadow-1;
    background-color: $color-light-surface;
    color: $color-light-on-surface;
    border-radius: $corner-radius;
    border: none;
    padding: 1em 1em;
    position: relative;
    width: 100%;
    max-width: 100%;
    height: auto;
    cursor: default;

    &.card-image {
        color: $color-light-on-image;
    }

    img.background-image {
        object-fit: cover;
        object-position: center;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        border-radius: $corner-radius;
        z-index: 1;
    }

    &>.card-title {
        position: relative;
        z-index: 2;
        font-weight: 500;
        font-size: $font-size + 2pt;

        &:not(:last-child) {
            padding-bottom: 0.5em;
        }
    }

    &>.card-body {
        position: relative;
        z-index: 2;
    }
}

a.card {
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.2s, box-shadow 0.2s;

    &:hover {
        transform: scale(1.025);
        box-shadow: $drop-shadow-2;
    }
}