.gallery {
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    >.row {
        padding-bottom: 1.5em;

        >.row-header {
            padding-bottom: 0.5em;
            font-size: 16pt;
            font-weight: 500;
            vertical-align: top;
        }

        >.row-data .row-elements-wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            
            >* {
                margin-right: 0.5rem;
                margin-bottom: 0.5rem;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .gallery {
        display: table;
        border-spacing: 1.5em;

        >.row {
            text-align: right;
            display: table-row;
            vertical-align: top;

            >* {
                display: table-cell;
            }

            >.row-header {
                padding-bottom: 0;
                width: 1px;
                white-space: nowrap;
            }

            >.row-data {
                width: 100%;
            }
        }
    }
}