.gallery {
    padding: 2em;

    .gallery-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        padding-bottom: 0.75rem;
        
        >* {
            margin-right: 1rem;
            margin-bottom: 1rem;
        }
    }
}