@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700;900&display=swap');
@import './variables.scss';

body {
    font-size: $font-size;
    margin: 0;
    font-family: 'inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $color-background;
    color: $color-on-background;
    width: 100%;
}

* {
    font-size: inherit;
    color: inherit;

    :focus {
        outline: solid 3px transparentize($color: $color-accent, $amount: 0.5);
        -moz-outline-radius: 3px;
        border-radius: 0 !important;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
