// Light mode colors
$color-light-background: #eff1f7 !default;
$color-light-surface: #fff !default;
$color-light-accent: #1472ff !default;
$color-light-danger: #f02f16 !default;
$color-light-on-background: #000 !default;
$color-light-on-surface: $color-light-on-background !default;
$color-light-on-accent: #fff !default;
$color-light-on-danger: $color-light-on-accent !default;
$color-light-on-image: #fff;

$font-size: 11pt;

$drop-shadow-1: 0 1px 2px #0004;
$drop-shadow-2: 0 4px 8px #00000028;

$corner-radius: 3px;

$transition-time: 0.2s;