// Colors
$color-background: #f4f5f9 !default;
$color-surface: #fff !default;
$color-accent: #651dff !default;
$color-accent-gradient: linear-gradient(
    -22deg,
    adjust-hue($color-accent, -30deg) 0%,
    adjust-hue($color-accent, 30deg) 100%
) !default;
$color-danger: #f02f16 !default;
$color-on-background: #000 !default;
$color-on-surface: $color-on-background !default;
$color-on-accent: #fff !default;
$color-on-danger: $color-on-accent !default;

$font-size: 11pt;

$drop-shadow-1: 0 1px 4px #0003;
$drop-shadow-2: 0 2px 10px #0003;

$corner-radius: 3px;

$transition-time: 0.2s;