$color-background: #eef1f5;
$color-surface: #ffffff;
$color-primary: #1957db;
$color-secondary: #000000;
$color-on-background: #000000;
$color-on-surface: #000000;
$color-on-primary: #ffffff;
$color-on-secondary: #ffffff;